

@font-face {
    font-family: "futura";
    src: url(../font/futura_round-webfont.woff2);
  }

  h1{
    font-family: "futura";
    font-size: 40px;
    text-align: center;
  }

  h2{
    font-family: "futura";
    font-size: 20px;
    text-transform: uppercase;
  }

  h3{
    font-family: "futura";
    font-size: 28px;
    font-style: bold;
  }

  p{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
  }

.udsolgt{
    opacity: 0.5;
}

.tilbud{
    background-color: rgb(253, 248, 170);
    content: "Tilbud";
    /* text-decoration: line-through; */
}

.nypris::after{
    white-space: pre-line;
    content: "Nu 1233 kr";
    display: block;
}

.productlist article.udsolgt::before {
    content: "Sold Out";
    position: absolute;
    padding: 1rem;
    background-color: transparent;
    color: black;
    border-radius: 25px;
    z-index: 3;
    border: 2px solid black;
    height: 34px;
    padding: 0 15px;
    align-items: center;
    text-transform: uppercase;
  }

label,
input,
textarea,
select,
button {
  display: block;
}

.card img{
    height: auto;
    width: 100%;
    border: solid 1px black;
}

.card{
    text-align: center;
    line-height: 1.4;
    color: black;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin-bottom: 4px;
    font-family: "futura";
    text-transform: uppercase;
}

a:hover{
color: blue;
}

nav {
    padding: 0;
    font-size: 20px;
    font-family: "futura";
    font-weight: bold;
    opacity: 0.8;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 30px 0;
    background-color: aliceblue;
}

.kategori{
font-size: 24px;
background-color: aliceblue;
margin: 10px;
padding: 20px;
text-align: center;
letter-spacing: 3px;
cursor: pointer;
}

.kategori:hover{
background-color: rgb(200, 221, 240);
a{color: blue;}
}

dl{
    /* background-color: rgb(232, 232, 232);
    width: 600px; */
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

select{
    background-color: white;
    border: solid 1px black;
    border-radius: 25px;
    padding: 0 15px;
    height: 30px;
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

button{
    background-color: white;
    border: solid 1px blue;
    border-radius: 25px;
    padding: 0 15px;
    height: 30px;
    width: 200px;
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

button:hover{
   background-color: aliceblue;
}

label{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

hr{
    border-top: 0.5px solid rgb(240, 240, 240);
    
}

.produkt{
    border: 0.5px solid black;
    height: auto;
    width: auto;
}
